.tarjeta{
    width: 480px;
    margin-top: 50px;
}
        .tarjeta .cabecera{
            display: flex;
            padding: 10px;
            border: rgb(199, 199, 199) solid;
            border-radius: 10% 10% 0%;
        }
        .tarjeta .cabecera img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding-right: 5px;

        }
        .tarjeta .cabecera samp{
            flex: 1;
            text-align: center;
            padding-top: 40px;
            font-size: 24px;
        }
        .tarjeta .cuerpo{
            text-align: justify;
            font-size: 18px;
            padding: 10px;
            border: rgb(199, 199, 199)solid;
        }
        .tarjeta .pie{
            border: rgb(199, 199, 199) solid;
            border-radius: 0% 0% 10% 10%;
        }
        .tarjeta .pie button{
            width: 100%;
            padding-top: 10%;
            font-size: 20px;
            background-color: cadetblue rgb(149, 149, 189);
            color: aliceblue;
            margin-top: 30%;
            padding-right: 10px;
            margin-right: 10px;
        }
        .contenedor{
            display: flex;
        }
        .colorfondovioleta{
            background-color: #8F8389;
            color: aliceblue;
        }
        .colorfondoazulclaro{
            background-color: #B0B2B8;
            color: black;
        }
        .alinearcentro{
            justify-content: center;
        }